{% extends "base.html" %}
{% set active_page = "dashboard" %}

{% block content %}
<div class="content">

<!--BEGIN CARD ICONS -->

        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-globe text-warning"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Purchase Price</p>
                      <p class="card-title">$540,000<p>
                    </div>
                  </div>
                </div>
              </div>
            <div class="card-footer ">
              <hr>
            </div>
          </div>
        </div>


          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-money-coins text-success"></i>
                    </div>
                  </div>

                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">NOI</p>
                      <p class="card-title">50,000

                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <!--<div class="stats">-->
                  <!--<i class="fa fa-calendar-o"></i> Last day-->
                <!--</div>-->
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-vector text-danger"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Annual Cashflow</p>
                      <p class="card-title">$23,000
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <!--<div class="stats">-->
                  <!--<i class="fa fa-clock-o"></i> In the last hour-->
                <!--</div>-->
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-favourite-28 text-primary"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">CAP Rate</p>
                      <p class="card-title">8.0%
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <!--<div class="stats">-->
                  <!--<i class="fa fa-refresh"></i> Update now-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>

<!--END CARD ICONS -->

<!--BEGIN PROPERTY DETAIL  -->
          <div class="row">
          <div class="col-md-4">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Grassland Lane</h5>
                <p class="card-category">2420 Rainbow Lane Brea, CA 92821</p>
              </div>
              <div class="card-body ">
              </div>
          <hr>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-title">Property Overview:</h5>
                <p class="card-category">Line Chart with Points</p>
              </div>
              <div class="card-body ">
               <p class="address">2429 Rainbow Lane Brea, CA 92821</p>
               <p class="bed">Beds: 3</p>
               <p class="bath">Bath: 3</p>
              </div>
                <hr/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Property Detail</h5>
                <h8></h8>
              </div>

                <hr>
            </div>
          </div>
        </div>

<!--END PROPERTY DETAIL  -->


        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Users Behavior</h5>
                <p class="card-category">24 Hours performance</p>
              </div>
              <div class="card-body ">
                <canvas id=chartHours width="400" height="100"></canvas>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-history"></i> Updated 3 minutes ago
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


{% endblock content %}
