{% extends "base.html" %}
{% set active_page = "calculator" %}

{% block content %}


  <head>
           <title>New</title>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"> </script>

  </head>

    <div class="content">
      <div class="row">
            <div class="col-sm-12">
                <div class="card ">

                    <div class="card-body">
                        <div class="wrapper">
                        <canvas id="bar-chart" ></canvas>
                        </div>
                    </div>
                </div>
            </div>
      </div>
   </div>

        <script src="{{ url_for('static', filename='script1.js') }}"></script>





{% endblock content %}