{% extends "base.html" %}
{% set active_page = "analyze" %}

{% block content %}
<head>
<link href="{{ (url_for('static', filename='css/multiform.css')) }}" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ (url_for('static', filename='js/multiform.js')) }}"></script>
</head>

<!------ Include the above in your HEAD tag ---------->
<div class="content">
  <div class="container mt-3">
    <div class="row justify-content-center" >
        <div class="col-md-8">
            <div class="card ">
            <section>
                <form method="POST" enctype="multipart/form-data">
                <div class="wizard">
                    <div class="wizard-inner">
                        <div class="connecting-line"></div>

                        <ul class="nav nav-tabs" role="tablist">

                            <li role="presentation" class="nav-item">
                                <a href="#step1" data-toggle="tab" id="stepicon1" aria-controls="step1" role="tab" title="Description" class="nav-link active">
                            <span class="round-tab">
                                <i class="fa fa-info"></i>
                            </span>
                                </a>
                            </li>

                            <li role="presentation" class="nav-item">
                                <a href="#step2" data-toggle="tab" id="stepicon2" aria-controls="step2" role="tab" title="Details" class="nav-link disabled">
                            <span class="round-tab">
                                <i class="fa fa-building"></i>
                            </span>
                                </a>
                            </li>

                            <li role="presentation" class="nav-item">
                                <a href="#step3" data-toggle="tab" id="stepicon3" aria-controls="step3" role="tab" title="Financing" class="nav-link disabled">
                            <span class="round-tab">
                                <i class="fa fa-money"></i>
                            </span>
                                </a>
                            </li>

                            <li role="presentation" class="nav-item">
                                <a href="#step4" data-toggle="tab" id="stepicon4" aria-controls="step4" role="tab" title="Step 4" class="nav-link disabled">
                            <span class="round-tab">
                                <i class="far fa-edit"></i>
                            </span>
                                </a>
                            </li>


                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="step1">

                            <div class="card-header ">
                                <h6 class="card-title">Description</h6>
                            </div>

                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-7">
                                        <div class="form-group ">
                                            <label>Report Title</label>
                                            <input type="text" class="form-control" id="title" name="title" >
                                            {{ form.title['title'] if form.title != None else 'Untitled' }}
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group ">
                                            <label>URL</label>
                                            <input type="text" class="form-control" id="url" name="url" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 h-100">
                                        <div class="form-group ">
                                            <label>Street</label>
                                            <input type="text" class="form-control" id="address_street_id" name="street" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-2 h-100">
                                        <div class="form-group ">
                                            <label>Image</label>
                                            {{form.picture(class="form-control-file")}}
                                            <input type="button" class="form-control-file" id="picture" name="picture" value="Upload">
                                        </div>
                                    </div>
                                </div>
                                 <div class="form-row">
                                    <div class="col-md-5">
                                        <div class="form-group ">
                                            <label>City</label>
                                            <input type="text" class="form-control" id="address_city_id" name="city" value="">
                                        </div>
                                    </div>
                                     <div class="col-md-3">
                                        <div class="form-group ">
                                            <label>State</label>
                                            <input type="text" class="form-control" id="address_state_id" name="state" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group ">
                                            <label>Zipcode</label>
                                            <input type="text" class="form-control" id="address_zipcode_id" name="zipcode" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <ul class="list-inline text-md-center">
                                    <li><button type="button" id="next-1" class="btn btn-lg btn-common next-step next-button">Get Started Now</button></li>
                                </ul>
                        </div>


                        <div class="tab-pane" role="tabpanel" id="step2">

                            <div class="card-header">
                                <h6 class="card-title">Details:</h6>
                            </div>

                            <div class="card-body ">
                                <div class="form-row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                        <label>Type</label>
                                                 {{form.type(class="form-control")}}

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Year Built </label>
                                            <input type="text" class="form-control" id="detail_year_id" name="year" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Bed </label>
                                            <input type="text" class="form-control" id="detail_bed_id" name="bed" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Bath </label>
                                            <input type="text" class="form-control" id="detail_bath_id" name="bath" value="">
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Sq Ft </label>
                                            <input type="text" class="form-control" id="detail_sqft_id" name="sqft" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <ul class="list-inline text-md-center">
                                    <li>
                                        <button type="button" id="prev-2" class="btn btn-lg btn-common next-step next-button">Previous</button>
                                        <button type="button" id="next-2" class="btn btn-lg btn-common next-step next-button">Next Step</button>
                                    </li>
                                </ul>
                        </div>


                        <div class="tab-pane" role="tabpanel" id="step3">

                                <div class="card-header">
                                    <h6 class="card-title">Purchase:</h6>
                                </div>

                                <div class="card-body ">

                                    <div class="form-row">
                                        <div class="col-md-8">
                                            <div class="form-group">

                                                <label>Price</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                      <span class="input-group-text" id="inputGroupPrepend">$</span>
                                                    </div>
                                                    <input type="text" class="form-control number" id="price_id" name="price" value="100,000" aria-describedby="inputGroupPrepend" required>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">

                                                <label>Term </label>
                                                 {{form.term(class="form-control")}}
                                            </div>
                                        </div>
                                    </div>

                                   <div class="form-row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Down Payment</label>
                                                <div class="input-group mb-3">
                                                  <input type="text" class="form-control" id="down_payment_id" name="down" value="20.0" aria-label="Amount">
                                                  <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Interest</label>
                                                <div class="input-group mb-3">
                                                  <input type="text" class="form-control" id="interest_rate_id" name="interest" value="5.0" aria-label="Amount (to the nearest dollar)">
                                                  <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Closing Costs</label>
                                                <div class="input-group mb-3">
                                                  <input type="text" class="form-control" id="closing_id" name="closing" value="2.0" aria-label="Amount (to the nearest dollar)">
                                                  <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                   </div>
                            </div>
                                <ul class="list-inline text-md-center">
                                     <li>
                                        <button type="button" id="prev-3" class="btn btn-lg btn-common next-step next-button">Previous</button>
                                        <button type="button" id="next-3" class="btn btn-lg btn-common next-step next-button">Next Step</button>
                                     </li>
                                </ul>
                        </div>



                        <div class="tab-pane" role="tabpanel" id="step4">

                            <div class="card-header">
                                <h6 class="card-title">Assumptions:</h6>

                            </div>

                            <div class="card-body ">

                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Monthly Rent</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text">$</span>
                                                </div>
                                            <input type="text" class="form-control" id="cashflow_grossrent_id" name="rent" value="1,500">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Other Income</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text">$</span>
                                                </div>
                                            <input type="text" class="form-control" id="cashflow_taxes_id" name="other" value="0">
                                            </div>
                                        </div>
                                    </div>


                                </div>

                               <div class="form-row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Operating Expenses </label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="cashflow_expenses_id" name="expenses" value="50.0">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Vacancy</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="cashflow_vacancy_id" name="vacancy" value="10.0">
                                                <div class="input-group-append">
                                                <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="form-row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Annual Appreciation </label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="appreciation" name="appreciation" value="3.0">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Annual Income Growth</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="annual_income_growth" name="income_growth" value="2.0">
                                                <div class="input-group-append">
                                                <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Annual Expense Growth</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="annual_expense_growth" name="expense_growth" value="2.0">
                                                <div class="input-group-append">
                                                <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <ul class="list-inline text-md-center">
                                 <li>
                                    <button type="button" id="prev-4" class="btn btn-lg btn-common next-step next-button">Previous</button>
                                    <button type="submit" id="final_submit" class="btn btn-lg btn-common next-step next-button">Submit</button>
                                 </li>
                            </ul>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                </div>


            </form>
            </section>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){

        $("#next-1").click(function() {

            $("#step1").hide();
            $("#stepicon1").removeClass('active');
            $("#stepicon1").addClass('disabled');


            $("#step2").show();
            $("#stepicon2").removeClass('disabled');
            $("#stepicon2").addClass('active');

        });

        $("#next-2").click(function() {
            $("#step2").hide();
            $("#stepicon2").removeClass('active');
            $("#stepicon2").addClass('disabled');


            $("#step3").show();
            $("#stepicon3").removeClass('disabled');
            $("#stepicon3").addClass('active');

        });

        $("#prev-2").click(function() {
            $("#step2").hide();
            $("#stepicon2").removeClass('active');
            $("#stepicon2").addClass('disabled');


            $("#step1").show();
            $("#stepicon1").removeClass('disabled');
            $("#stepicon1").addClass('active');

        });


        $("#next-3").click(function() {
            $("#step3").hide();
            $("#stepicon3").removeClass('active');
            $("#stepicon3").addClass('disabled');


            $("#step4").show();
            $("#stepicon4").removeClass('disabled');
            $("#stepicon4").addClass('active');

        });

        $("#prev-3").click(function() {
            $("#step3").hide();
            $("#stepicon3").removeClass('active');
            $("#stepicon3").addClass('disabled');


            $("#step2").show();
            $("#stepicon2").removeClass('disabled');
            $("#stepicon2").addClass('active');

        });

        $("#next-4").click(function() {
            $("#step4").hide();
            $("#stepicon4").removeClass('active');
            $("#stepicon4").addClass('disabled');


            $("#step5").show();
            $("#stepicon5").removeClass('disabled');
            $("#stepicon5").addClass('active');

        });

        $("#prev-4").click(function() {
            $("#step4").hide();
            $("#stepicon4").removeClass('active');
            $("#stepicon4").addClass('disabled');


            $("#step3").show();
            $("#stepicon3").removeClass('disabled');
            $("#stepicon3").addClass('active');

        });


    });

</script>

<script>
$('[name="price"]').keyup(function(event) {

  // skip for arrow keys
  if(event.which >= 37 && event.which <= 40) return;

  // format number
  $(this).val(function(index, value) {
    return value
    .replace(/\D/g, "")
    .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    ;
  });
});
</script>

<script>
$('[name="rent"]').keyup(function(event) {

  // skip for arrow keys
  if(event.which >= 37 && event.which <= 40) return;

  // format number
  $(this).val(function(index, value) {
    return value
    .replace(/\D/g, "")
    .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    ;
  });
});
</script>

<script>
$('[name="other"]').keyup(function(event) {

  // skip for arrow keys
  if(event.which >= 37 && event.which <= 40) return;

  // format number
  $(this).val(function(index, value) {
    return value
    .replace(/\D/g, "")
    .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    ;
  });
});
</script>


{% endblock content %}