{% extends "layout_paperdash.html" %}
{% set active_page = "analyze" %}

{% block content %}
<div class="content">
  <div class="container mt-3">

    <div class="row">
        <div class="col-md-12">
              <!--<h5 class="card-title">{{title}}</h5>-->
              <h5 class="address" style="line-height:15px;">{{street}}, {{city}}, {{state}} {{zipcode}}</h5>
              <p class="bed" style="line-height:20px;">{{bed}} bd | {{bath}} ba | {{sqft}} sqft | {{type}} | Built in {{year}}</p>
        </div>
    </div>
        <hr style="margin-top:-2px; ">
  <!--BEGIN FIRST ROW OF CARD ICONS -->

        <div class="row ">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <!--<div class="col-5 col-md-4">-->
                    <!--<div class="icon-big text-center icon-warning">-->
                      <!--<i class="nc-icon nc-globe text-warning"></i>-->
                    <!--</div>-->
                  <!--</div>-->
                  <div class="col-12 col-md-12">
                    <div class="numbers">
                      <p class="card-category">Purchase Price</p>
                      <p class="card-title">{{price}}<p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-12 col-md-12">
                    <div class="numbers">
                      <p class="card-category">Out of Pocket</p>
                      <p class="card-title">{{outofpocket}}</p>

                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-12 col-md-12">
                    <div class="numbers">
                      <p class="card-category">Cap Rate</p>
                      <p class="card-title">{{cap_rate}}
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-12 col-md-12">
                    <div class="numbers">
                      <p class="card-category">Cash on Cash</p>
                      <p class="card-title">{{cashoncash}}<p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
              </div>
            </div>
          </div>

        </div>
<!--END 1ST ROW OF CARD ICONS -->


<!--BEGIN FIRST ROW OF CARD ICONS -->

        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-12 col-md-12">
                    <div class="numbers">
                      <p class="card-category">Operating Income</p>
                      <p class="card-title">{{operating_income}}<p>
                    </div>
                  </div>
                </div>
              </div>
            <div class="card-footer ">
            </div>
          </div>
        </div>


          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-12 col-md-12">
                    <div class="numbers">
                      <p class="card-category">Operating Expenses</p>
                      <p class="card-title">({{monthly_expense}})</p>

                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-12 col-md-12">
                    <div class="numbers">
                      <p class="card-category">Mortgage</p>
                      <p class="card-title">({{mortgage_payment}})
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-12 col-md-12">
                    <div class="numbers">
                      <p class="card-category">Cash Flow</p>
                      <p class="card-title">{{ cashflow }}<p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
              </div>
            </div>
          </div>

        </div>

<!--END 1ST ROW OF CARD ICONS -->



<!--BEGIN PROPERTY DETAIL  -->
          <!--<div class="row">-->
              <!--<div class="col-md-4">-->
                <!--<div class="card ">-->
                  <!--<div class="card-header ">-->
                    <!--<h5 class="card-title">{{title}}</h5>-->
                    <!--<p class="card-category" style="line-height:15px;">{{street}}, {{city}}, {{state}} {{zipcode}}</p>-->
                  <!--</div>-->
                  <!--<div class="card-body ">-->
                    <!--<p class="bed" style="line-height:10px;">{{bed}} bd | {{bath}} ba | {{sqft}} sqft</p>-->
                    <!--<p class="type" style="line-height:10px;">{{type}} | Built in {{year}}</p>-->
                  <!--</div>-->
                      <!--<hr>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-8">-->
                <!--<div class="card card-chart">-->
                  <!--<div class="card-header">-->
                    <!--<h5 class="card-title">Property Overview:</h5>-->
                    <!--<p class="card-category">Line Chart with Points</p>-->
                  <!--</div>-->
                  <!--<div class="card-body ">-->
                   <!--&lt;!&ndash;<p class="type">Type: {{type}}</p>&ndash;&gt;-->
                   <!--&lt;!&ndash;<p class="bed">Beds: {{bed}}</p>&ndash;&gt;-->
                   <!--&lt;!&ndash;<p class="bath">Bath: {{bath}}</p>&ndash;&gt;-->
                   <!--&lt;!&ndash;<p class="sqft">Sq Ft: {{sqft}}</p>&ndash;&gt;-->
                  <!--</div>-->
                    <!--<hr/>-->
                <!--</div>-->
              <!--</div>-->
          <!--</div>-->

        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<div class="card ">-->
              <!--<div class="card-header ">-->
                <!--<h5 class="card-title">Property Detail</h5>-->
                <!--<h8></h8>-->
              <!--</div>-->

                <!--<hr>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

<!--END PROPERTY DETAIL  -->


        <div class="row">
          <div class="col-md-8">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Income Statement</h5>
                <p class="card-category">Year 1</p>
              </div>
              <div class="card-body">
                <div class="content table-responsive table-full-width">
                  <table class="table ">
                    <thead>
                      <tr>
                        <th>CASH FLOW</th>
                        <th></th>
                        <th style="text-align: right; padding-right: 15px;">Monthly</th>
                        <th style="text-align: right;">Yearly</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td> Gross Rent</td>
                          <td> </td>
                          <td style="text-align: right; padding-right: 15px;"> $1,500</td>
                          <td style="text-align: right;"> $18,000</td>
                        </tr>

                        <tr>
                          <td> Vacancy (10%)</td>
                          <td> - </td>
                          <td style="text-align: right; padding-right: 15px;"> $150</td>
                          <td style="text-align: right;"> $1,800</td>
                        </tr>

                        <tr>
                          <td style="border-bottom:1pt solid black;"> Other Income</td>
                          <td style="border-bottom:1pt solid black;"> + </td>
                          <td style="text-align: right; padding-right: 15px; border-bottom:1pt solid black;"> $0</td>
                          <td style="text-align: right; border-bottom:1pt solid black;"> $0</td>
                        </tr>

                        <tr>
                          <td> Operating Income</td>
                          <td> = </td>
                          <td style="text-align: right; padding-right: 15px;"> $1,350</td>
                          <td style="text-align: right;"> $16,200</td>
                        </tr>

                        <tr>
                          <td style="border-bottom:1pt solid black;"> Operating Expenses (50%)</td>
                          <td style="border-bottom:1pt solid black;"> - </td>
                          <td style="text-align: right; padding-right: 15px;border-bottom:1pt solid black;"> $750</td>
                          <td style="text-align: right;border-bottom:1pt solid black;"> $9,000</td>
                        </tr>

                        <tr>
                          <td> Net Operating Income</td>
                          <td> = </td>
                          <td style="text-align: right; padding-right: 15px;"> $600</td>
                          <td style="text-align: right;"> $7,200</td>
                        </tr>

                        <tr>
                          <td> Loan Payment</td>
                          <td> - </td>
                          <td style="text-align: right; padding-right: 15px;"> $429</td>
                          <td style="text-align: right;"> $5,153</td>
                        </tr>

                        <tr style="border-bottom:2pt solid black;">
                          <td ><b>Cash Flow</b></td>
                          <td> = </td>
                          <td style="text-align: right; padding-right: 15px;"><b> $171 </b></td>
                          <td style="text-align: right;"><b> $2,047 </b></td>
                        </tr>
                    </tbody>

                  </table>

                </div>
              </div>

            </div>
        </div>


          <div class="col-md-4">
            <div class="card ">
            <div class="card-body">asdf</div>
            </div>
          </div>


        </div>

      </div>

</div>
{% endblock content %}
