{% extends "layout_paperdash.html" %}
{% set active_page = "calculator" %}

{% block content %}
<div class="content">

      <div class="row">
          <div class="col-md-4">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Mortgage Information</h5>

              </div>
              <div class="card-body ">

              <p class="homevalue">Home Value:</p>
                <p class="downpayment">Downpayment:</p>
                <p class="term">Term:</p>
                <p class="interest">Interest Rate:</p>
              </div>
              <hr>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Payment Breakdown:</h5>
                <p class="card-category">Line Chart with Points</p>
              </div>
              <div class="card-body ">


               <p class="address">2429 Rainbow Lane Brea, CA 92821</p>
               <p class="bed">Beds: 3</p>
               <p class="bath">Bath: 3</p>
              </div>
                <hr/>
            </div>
          </div>
      </div>
</div>



{% endblock content %}
