{% extends "layout_paperdash.html" %}
{% set active_page = "calculator" %}

{% block content %}

    <div class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="card ">


<!--BEGIN MORTGAGE INPUT HEADER-->

                    <div class="card-header ">
                        <h5 class="card-title">Mortgage Information</h5>
                    </div>

<!--END MORTGAGE INPUT HEADER-->


<!--BEGIN MORTGAGE INPUT FORM-->

                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Purchase Price</label>
                                            <input type="text" class="form-control" name="inputprice">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Downpayment</label>
                                            <input type="text" class="form-control" name="inputdown">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Term</label>
                                            <input type="text" class="form-control" name="inputterm">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Interest Rate</label>
                                            <input type="text" class="form-control" name="inputrate">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="update ml-auto mr-auto">
                                    <button type="submit" class="btn btn-primary btn-round">Submit</button>
                                </div>
                            </div>

                        </form>
                        </div>

<!--END MORTGAGE INPUT FORM-->

                         <hr>
                </div>
            </div>







          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Payment Breakdown:</h5>
                <p class="card-category">Line Chart with Points</p>
              </div>
              <div class="card-body ">


               <p class="address">2429 Rainbow Lane Brea, CA 92821</p>
               <p class="bed">Beds: 3</p>
               <p class="bath">Bath: 3</p>
              </div>
                <hr/>
            </div>
          </div>
      </div>
      </div>

    </div>       </div>


{% endblock content %}