{% extends "base.html" %}
{% set active_page = "dashboard" %}
{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
             <div class="col-6">
                    <div class="card spur-card">
                        <div class="card-header">
                            <div class="spur-card-icon">
                            </div>
                        </div>
             <div class="card-body ">
        <!--<div class="col-md-4">-->
          <div class="content-section">
            <a href= "{{ url_for('post', post_id=post.id) }}"><h3>Welcome! {{post.title}}</a> </h3>
            <p>

                RE-Invest is a Flask application built for real estate investors.
                Here you can calculate returns based on property detail and assumptions and export the report to share with potential investors.
               <br>
              <p> Feel free to contact timpark0807@gmail.com with any suggestions.</p>
                <!--<ul class="list-group">-->
                <!--<li class="list-group-item list-group-item-light">-->
                    <!--<a href="https://www.sco.ca.gov/ard_current_payments.html"">-->
                                    <!--Current Apportionment Payments-->
                    <!--<a/>-->
                <!--</li>-->
                <!--<li class="list-group-item list-group-item-light">-->
                    <!--<a href="https://www.sco.ca.gov/Files-ARD-Payments/sched_2019.pdf"">-->
                                    <!--2019 Payment Schedule-->
                    <!--<a/>-->
                <!--</li>-->

                <!--<li class="list-group-item list-group-item-light">Announcements</li>-->
                <!--<li class="list-group-item list-group-item-light">etc</li>-->
              <!--</ul>-->
            </p>
          </div></div></div>
</div>
                    </div>
                    </div></div>
{% endblock content %}
