{% extends "base.html" %}
{% set active_page = "about" %}
{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
             <div class="col-6">
                    <div class="card spur-card">
                        <div class="card-header">
                            <h5>About Reinvestify</h5>
                            <div class="spur-card-icon">
                            </div>
                        </div>
                        <div class="card-body ">
                          <div class="content-section">
                              <p>
                                Reinvestify is a web based application for real estate investors.
                              </p>
                              <p>
                                The Analyze functionality produces a report that analyzes real estate investments based on property detail and assumptions.
                                The report will show capitalization rates, cash on cash returns, and monthly cash flow projections. A 30 year cash flow model and a 30 year equity model will provide insight on the long term profitability of the property.
                                Please register to get full functionality in saving, editing, deleting, and sharing reports.
                              </p>
                              <p>The backend was built using Python's Flask framework, with a MYSQL database hosted on AWS Relational Database Service.
                                Pages are built in HTML with CSS styling and Javascript to improve responsiveness.
                                The application was deployed on an instance of AWS Elastic Beanstalk.
                              </p>

                              <p> Feel free to contact timpark0807@gmail.com with any suggestions.</p>

                          </div>
                        </div>
                    </div>
             </div>
        </div>
    </div>
</div>
{% endblock content %}
