<!DOCTYPE html>
<html lang="en" class="perfect-scrollbar-off gr__127_0_0_1">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>REinvest</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='paper-dashboard.css') }}" rel="stylesheet" />
  </head>

  <body class="">

    <div class="wrapper ">

      <div class="sidebar" data-color="black" data-active-color="danger">
        <div class="logo">
          <a href=# class="simple-text logo-mini"></a>
          <a href="{{ url_for('dashboard') }}" class="simple-text logo-normal">REInvest</a>
        </div>

        <div class="sidebar-wrapper">
          <ul class="nav">

            <li class="{{ 'active' if active_page == 'dashboard' else '' }}">
                <a href="{{ url_for('dashboard') }}">
                <i class="fas fa-home"></i>
                <p>Dashboard</p>
              </a>
            </li>

            <li class="{{ 'active' if active_page == 'analyze' else '' }}">
              <a href="{{ url_for('analyze') }}">
                <i class="fas fa-search-dollar"></i>
                <p>Analyze</p>
              </a>
            </li>

            <li class="{{ 'active' if active_page == 'calculator' else '' }}">
              <a href="{{ url_for('calculator') }}">
                <i class="fas fa-calculator"></i>
                <p>Calculator</p>
              </a>
            </li>

            <li class="{{ 'active' if active_page == 'about' else '' }}">
              <a href="{{ url_for('about') }}">
                <i class="fas fa-info"></i>
                <p>About</p>
              </a>
            </li>

          </ul>
        </div>
      </div>


      <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </button>
              </div>
                <a class="navbar-brand" href="#pablo">Real Estate Investing Portal</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
              </div>
            </form>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link btn-rotate" href="#pablo">
                    <i class="fas fa-user"></i>
                    <p><span class="d-lg-none d-md-block">Account</span></p>
                  </a>
                </li>
              </ul>

            </div>
          </div>
        </nav>


        {% block content %}{% endblock %}

  <!--</div>-->
      <div class="content">
            <div class="row">
              <div class="col-md-12">
                <div class="card ">
                  <div class="card-header ">
                    <h5 class="card-title">Blank Template</h5>
                    <p class="card-category">This card is a placeholder</p>
                  </div>
                  <div class="card-body ">
                    <canvas id=chartHours width="400" height="100"></canvas>
                  </div>
                  <div class="card-footer ">
                    <hr>

                  </div>
                </div>
              </div>
            </div>



        <footer class="footer footer-black  footer-white ">
          <div class="container-fluid">
            <div class="row">
              <nav class="footer-nav">
                <ul>
                  <li><a href="https://github.com/timpark0807" target="_blank">Github</a></li>
                </ul>
              </nav>
              <div class="credits ml-auto">
                <span class="copyright">©
                  <script>
                    document.write(new Date().getFullYear())
                  </script>, made by Tim Park
                </span>
              </div>
            </div>
          </div>
        </footer>

        </div>
      </div>
    </div>

    <!--   Core JS Files   -->

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='perfect-scrollbar.jquery.min.js') }}"></script>
      <!-- Chart JS -->
    <script src="{{ url_for('static', filename='chartjs.min.js') }}"></script>

    <!--  Notifications Plugin    -->
    <script src="{{ url_for('static', filename='bootstrap-notify.js') }}"></script>

    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{{ url_for('static', filename='paper-dashboard.js') }}"></script>

    <script id="baseScript" src="{{ url_for('static', filename='newjs.js') }}"
    data-path="{{ request.path }}"></script>
    <script src="{{ (url_for('static', filename='form.js')) }}"></script>



  </body>

</html>