{% extends "base.html" %}
{% set active_page = "properties" %}
{% block content %}

<div class="content">


  <div class="container mt-3">
        <div class="row justify-content-center">

        <div class="col-md-12">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">My Properties</h5>
                <div class="content table-responsive table-full-width">

                  <table class="table ">
                    <thead>
                      <tr>
                        <th>Title</th>
                      <th>Type</th>

                        <th>Price</th>

                        <th>Cash Flow</th>
                        <th>Cap Rate</th>
                        <th>CoC</th>

                        <th></th>
                        <th></th>

                      </tr>
                    </thead>

                  {% for post in posts %}

                    <tbody>
                        <tr>
                          <td> {{ post.title }} </td>
                          <td> {{ post.type }}</td>
                          <td> {{ post.report_price }}</td>
                          <td style="text-align: right; padding-right: 50px;"> {{ post.cash_flow }}</td>
                          <td style="text-align: center;"> {{ post.cap_rate }}</td>
                          <td> {{ post.coc }}</td>

                          <td>
                              <a href="{{ url_for('update_post', post_id=post.id) }}"> Edit </a>
                          </td>

                          <td>
                              <a name="{{post.title}}" href="{{ url_for('post', post_id=post.id) }}"> View </a>
                          </td>
                        </tr>

                    </tbody>

                  {% endfor %}

                  </table>

                </div>
              </div>
            </div>


        </div>

 </div>

 <body onload="redirect()">



 </body>
</div>
{% endblock content %}
