{% extends "base.html" %}
{% block content %}

<div class="content">
  <div class="container mt-3">
        <div class="row justify-content-center">

            <div class="card flex-row flex-wrap">
                <div class="card-header border-0 mr-1">
                  <img class="account-img" height=200 width=200 src="{{ image_file }}">
                </div>
                <div class="card-block px-2">
                    <h4 class="card-title">  <a href= "{{ url_for('post', post_id=post.id) }}"> {{post.title }} </a></h4>
                    <p class="card-text">Date: {{ post.date_posted.strftime('%m-%d-%Y') }}</p>

                        <h6>Address:</h6>
                          <p> {{ post.street }} {{ post.city }}, {{ post.state }} {{ post.zipcode }}</p>

                        <h6>Property Detail:</h6>
                          <p> {{post.type}} | {{post.bed}} bed | {{post.bath}} bath | {{post.sqft}} sqft </p>
                          <p> {{post.price}} Purchase Price | {{post.cash_flow}}/mo Cash Flow | {{post.cap_rate}} Cap Rate</p>

                </div>


                <div class="w-100">
                </div>

                <div class="card-footer w-100 text-muted">
                </div>

        </div>
    </div>
 </div>

 <body onload="redirect()">



 </body>
</div>
{% endblock content %}
