{% extends "base.html" %}
{% set active_page = "calculator" %}
{% block content %}

<div class="content">
    <div class="container mt-3">
        <div class="row justify-content-center">

    <!--BEGIN MORTGAGE INPUT CARD-->

            <div class="col-3">
                <div class="card">
                    <div class="card-header ">
                        <h6 class="card-title">Assumptions</h6>
                    </div>

        <!--BEGIN MORTGAGE INPUT FORM-->

                    <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.price.label(class="form-control-label") }} <br>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">$</span>
                                        </div>
                                    {% if form.price.errors %}
                                        {{ form.price(class="form-control form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.price.errors %}
                                                <span> {{ error }} </span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.price(class="form-control form-control ") }}
                                    {% endif %}
                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    {{ form.down_payment.label(class="form-control-label") }} <br>
                                    <div class="input-group">

                                    {% if form.down_payment.errors %}
                                        {{ form.down_payment(class="form-control form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.down_payment.errors %}
                                                <span> {{ error }} </span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.down_payment(class="form-control form-control ") }}
                                    {% endif %}
                                        <div class="input-group-append">
                                            <span class="input-group-text">%</span>
                                        </div>
                                    </div>
                                </div>
                                </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                 <div class="form-group">
                                    {{ form.term.label(class="form-control-label") }} <br>
                                    {% if form.term.errors %}
                                        {{ form.term(class="form-control form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.term.errors %}
                                                <span> {{ error }} </span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.term(class="form-control form-control ") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                 <div class="form-group">
                                    {{ form.interest_rate.label(class="form-control-label") }} <br>
                                    <div class="input-group">
                                    {% if form.interest_rate.errors %}
                                        {{ form.interest_rate(class="form-control form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.interest_rate.errors %}
                                                <span> {{ error }} </span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.interest_rate(class="form-control form-control ") }}
                                    {% endif %}
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                  </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button type="submit" class="btn btn-primary btn-round">Submit</button>
                            </div>
                        </div>

       <!--Begin drop down property tax and insurance-->
          <p data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
             <i class="fas fa-angle-double-down"></i>
             <u><i>  Property Tax & Insurance</i> </u>
          </p>

        <div class="collapse" id="collapseExample">

                   <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <!--<input type="text" name ='cat_1'>-->
                                {{ form.property_tax.label(class="form-control-label") }} <br>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">$</span>
                                    </div>
                                {% if form.property_tax.errors %}
                                    {{ form.property_tax(class="form-control form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.property_tax.errors %}
                                            <span> {{ error }} </span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.property_tax(class="form-control form-control ") }}
                                {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>

                   <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <!--<input type="text" name ='cat_1'>-->
                                {{ form.insurance.label(class="form-control-label") }} <br>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">$</span>
                                    </div>
                                {% if form.insurance.errors %}
                                    {{ form.insurance(class="form-control form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.insurance.errors %}
                                            <span> {{ error }} </span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.insurance(class="form-control form-control ") }}
                                {% endif %}
                                </div>
                            </div>
                        </div>
                   </div>

        </div>

       <!--End drop down property tax and insurance-->

                </form>
                </div>

        <!--END MORTGAGE INPUT FORM-->
            </div>
        </div>
    <!--END MORTGAGE INPUT CARD-->

    <!--BEGIN MORTGAGE OUTPUT CARD -->

        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Monthly Payment</h6>
                </div>
                <div class="card-body">
                    <div class="holder">
                    <canvas id="bar-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>

    <!--END MORTGAGE OUTPUT CARD -->
    </div>

</div>
</div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"> </script>
    <script src="{{ url_for('calculator.static', filename='js/script1.js') }}"></script>
    <script id="baseScript" src="{{ url_for('calculator.static', filename='js/mortgage_calculator.js') }}"
    data-path="{{ request.path }}"></script>

    <script src="{{ url_for('calculator.static', filename='js/dynamic_typing.js') }}"></script>


{% endblock content %}